*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.ViewReceiptComponentContainer{
  width: 20rem;
  border-radius: 1rem;
  min-height: 20rem;
  border: solid 0.1rem #ccc;
  padding: 2rem;
}

.ViewReceiptComponentHeader{
  text-align: center;
  padding: 1rem;
}

.ViewReceiptComponentHeader h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.ViewReceiptComponentHeader p{
  color: #ccc;
}

.ViewReceiptComponentBody {
  padding: 1rem;
  border-bottom: solid 1px #ccc;
}

.Order{
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.Subtotal{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid 0.1rem #ccc;
}

.Tax{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid 0.1rem #ccc;
}

.Total{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 0.1rem #ccc;
  padding: 1rem;
}

.btnCheckout{
  color: white;
  background-color: blue;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem;
  width: 90%;
}


